<?xml version="1.0"?>

<launch>
  <arg name="load_map" default="false"/>
  <arg name="map" default="ch3_sim"/>
  <arg name="ns" default="atrvjr/"/>
  <arg name="use_waypoint_coordenator" default="false"/>
  <arg name="use_gps_pose_relay" default="false"/>
  <arg name="cooperation_use" default="false"/>

  <group ns="$(arg ns)" if="$(arg cooperation_use)">
    <include file="$(find cooperation_use)/launch/coordinator_atrvjr_sim.launch"/>
  </group>
  
  <group ns="$(arg ns)" if="$(arg use_waypoint_coordenator)">
    <include file="$(find coordinates_waypoint_manager)/launch/coordinator_atrvjr_sim.launch"/>
  </group>

  <group ns="$(arg ns)" if="$(arg use_gps_pose_relay)">
    <include file="$(find cooperation_use)/launch/gps_pose_relay.launch">
      <arg name="gps_pose_topic_name" value="/$(arg ns)/gps/filtered"/>
      <arg name="imu_topic_name" value="/$(arg ns)/imu/data"/>
      <arg name="relay_result_topic_name" value="/$(arg ns)/geopose"/>
    </include>
  </group>

  <group ns="$(arg ns)"> 
    <!-- <param name="tf_prefix" value="/atrvjr" /> -->
    
    <arg name="model" default="$(find ur_e_description)/urdf/ur5e_robot.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) use_nominal_extrinsics:=true" />

    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model atrv_ur5e -x 0 -y 0 -z -0.5 -Y -1.57" respawn="false" output="screen" />

    <rosparam file="$(find ur_e_gazebo)/controller/arm_controller_ur5e.yaml" command="load"/>

    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
    <node name="base_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn base_controller" respawn="false" output="screen"/>

    <include file="$(find ur_e_gazebo)/launch/controller_utils.launch"/>
    

    <!-- Launch of the common components to sim and real life. 
    load_map: false for navigation without map and true to import a map
    map: defines the name of the map to be used -->
    <include file="$(find atrvjr)/launch/bringup_common.launch">
      <arg name="load_map" default="$(arg load_map)"/>
      <arg name="ns" default="$(arg ns)"/>
      <arg name="map" default="$(arg map)"/>
    </include>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global">
      <rosparam command="load" file="$(find robot_localization)/params/ekf_template_atrv_sim.yaml" />
      <remap from="/atrvjr/odometry/filtered" to="/atrvjr/odometry/filtered/global"/>
    </node>
    
    <node name="moveit_commander" pkg="moveit_commander" type="moveit_commander_cmdline.py" output="screen"/>

  </group>
</launch>
