<?xml version="1.0"?>

<launch>

<!-- switch the next launch file for different environments. solar_farm is the one eddited only with solar panels only.  agriculture_world is the native clearpath environment. -->
    <include file="$(find durable_gazebo_simulation)/launch/solar.launch">
    </include>


    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
      <arg name="time" value="2" />
      <arg name="pkg" value="durable_gazebo_simulation" />
      <arg name="file" value="multi_jackal.launch" />
    </include>

    <!-- <include file="$(find durable_gazebo_simulation)/launch/multi_jackal.launch">
    </include> -->

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
      <arg name="time" value="1" />
      <arg name="pkg" value="durable_gazebo_simulation" />
      <arg name="file" value="multi_bebop.launch" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
      <arg name="time" value="3" />
      <arg name="pkg" value="durable_gazebo_simulation" />
      <arg name="file" value="jackal_waypoint.launch" />
    </include>

    <!-- <include file="$(find durable_gazebo_simulation)/launch/multi_bebop.launch">
    </include> -->
    
    <group>
       <node pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
         args="0 0 0 0 0 0 world map 20"/>
    </group>


</launch>