<?xml version="1.0"?>

<launch>

<!-- switch the next launch file for different environments. solar_farm is the one eddited only with solar panels only.  agriculture_world is the native clearpath environment. -->
    <include file="$(find durable_gazebo_simulation)/launch/evora_world.launch">
      <arg name="gui" default="true" />
    </include>


    <!-- FOR ROS MELODIC -->
    <!--include file="$(find timed_roslaunch)/timed_roslaunch.launch"-->
    <!-- FOR ROS KINETIC -->
    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">   
      <arg name="time" value="1" />
      <arg name="pkg" value="multi_jackal_tutorials" />
      <arg name="file" value="evora_jackal.launch" />
      <arg name="value" value="use_waypoint_coordenator:=true use_gps_pose_relay:=true use_navsat:=true cooperation_use:=true"/>
    </include>

    <include file="$(find durable_gazebo_simulation)/launch/atrvjr.launch">
      <arg name="use_waypoint_coordenator" value="true" />
      <arg name="use_gps_pose_relay" value="true" />
      <arg name="cooperation_use" value="true" />
    </include>

    <group>
       <node pkg="tf" type="static_transform_publisher" name="static_world_to_map_tf"
         args="0 0 0 0 0 0 map atrvjr/odom 20"/>
    </group>

</launch>
