<?xml version="1.0"?>

<launch>

<!-- switch the next launch file for different environments. solar is the one eddited only with solar panels and no textures.  agriculture_world is the native clearpath environment. -->
    <include file="$(find durable_gazebo_simulation)/launch/solar.launch">
    </include>

    <include file="$(find durable_gazebo_simulation)/launch/multi_jackal.launch">
    </include>

    <include file="$(find durable_gazebo_simulation)/launch/multi_bebop.launch">
    </include>
    
    <group>
       <node pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
         args="0 0 0 0 0 0 world map 20"/>
    </group>


</launch>